.info
{
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-around;
}

.contactInput{
    border: 0.9pc;
    margin-bottom: 4px;
    text-decoration: solid;
}

.address{
    margin-top: 4pc;

}

.contactForm{
    margin-right: 20pc;
    margin-top: 4pc;
}
input {
    border: 2px solid black; /* Ensure the border is set */
    padding: 10px; /* Add some padding for better appearance */
    width: 200px; /* Set a width if needed */
  }

  input:focus {
    /* border-color: blue; Change the border color on focus */
    /* outline: none; Remove the default outline */
  }

  .submitButton{
    color: white;
    background-color: goldenrod;
    border: none;
    height: 40px;
    width: 9pc;
    margin-top: 2pc;
    border-radius: 4px;
  }